<%= form_with model: post do |form| %>
<div class="mb-3">
<div>
    <%= form.label :title %><br>
    <%= form.text_field :title, :class=>"form-control"%><br>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content,'내용',:class=>'form-label' %><br>
    <%= form.text_area :content ,:class=>"form-control"%><br>
    <% post.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "새글 작성" %>
  </div>
</div>

<% end %>