<h1><%= @post.title %></h1>
<div class="trix-content"><%= @post.content %></div>
<ul>
  <li><%= link_to "수정", edit_post_path(@post) %></li>
  <li><%= link_to "삭제", post_path(@post), data:{
    turbo_method: :delete,
    turbo_confirm: "삭제하시겠습니까?"
}%>
  </li>
</ul>

<h2>댓글</h2>
<%= render @post.comments %>

<h2>댓글 달기</h2>
<%= render 'comments/form' %>
